@import "tailwindcss";

:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #ff6600;
  --gray-dark: #1a1a1a;
  --gray-line: #333333;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}